body {
    background-color: #414763;
    padding: 0px;
    margin: 0px;
    font-family: Arial,x-locale-body,sans-serif;
    font-size: 10pt;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.title-program {
	text-align: center;
}

.cal { grid-area: 2 / 3 / 3 / 4; }
.result {
	grid-area: 3 / 2 / 4 / 5;
	text-align: center;
	margin: 5px;
}

.cal-input {
	float: left;
	width: 70%;
}

.cal-input-field {
	width: 95%;
}


.cal-controll {
	float: left;
	background-color: #000000;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#suma{
	grid-area: 1 / 1 / 2 / 2;
}

#roznica {
	grid-area: 1 / 2 / 2 / 3;
}

#iloczyn{
	grid-area: 2 / 1 / 3 / 2;
}

#iloraz{
	grid-area: 2 / 2 / 3 / 3;
}
